<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ForceNonHttps" stopProcessing="true">
          <match url="(.*)billing/(.*)" ignoreCase="true" negate="true" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="^443$" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="http://{HTTP_HOST}{REQUEST_URI}" />
        </rule>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="PHP-FastCGI-sub7.0" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.0\php-cgi.exe" resourceType="File" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="index.php" />
        <add value="index.asp" />
        <add value="default.asp" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <clientCache />
    </staticContent>
    <urlCompression doDynamicCompression="true" />
  </system.webServer>
</configuration>
